<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    <div class="form-group mb-3">
                        <label for="productName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="productName" name="Name" value="@Model.Name" required>
                    </div>
                    <div class="form-group mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="productNotReturnable" name="NotReturnable" @(Model.NotReturnable ? "checked" : "")>
                            <label class="custom-control-label" for="productNotReturnable">Not Returnable</label>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="productDisableBuyButton" name="DisableBuyButton" @(Model.DisableBuyButton ? "checked" : "")>
                            <label class="custom-control-label" for="productDisableBuyButton">Disable Buy Button</label>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="productShowOnHomePage" name="ShowOnHomePage" @(Model.ShowOnHomePage ? "checked" : "")>
                            <label class="custom-control-label" for="productShowOnHomePage">Show On Home Page</label>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="productAllowCustomerReview" name="AllowCustomerReview" @(Model.AllowCustomerReview ? "checked" : "")>
                            <label class="custom-control-label" for="productAllowCustomerReview">Allow Customer Review</label>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="IsPublish" name="IsPublish" @(Model.IsPublish ? "checked" : "")>
                            <label class="custom-control-label" for="IsPublish">IsPublish</label>
                        </div>
                    </div>
                    <input type="hidden" name="Id" value="@Model.Id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveProduct">Save</button>
            </div>
        </div>
    </div>
</div>
